.container{
   
padding-top: 15px;
    width: 412px;
    max-width: 100%;
    padding: 27px;
    background-color: #819EA6;

}
.card{
    border:none !important;
}
.imagegirl{
    left: 36px;
    top: 4px;
    width: 261px;
    position: relative;
    border-radius: 50%;
    height: 263px;
}
.main-0{
    background-color: #EDEBE6;
}

.logo-img{
    height: 68%;
    position: absolute;
    top: 100px;
    width: 73%;
}