.mainDiv{
  background-color: teal;
}
/* Full-width input fields */
input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .buttonsave {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 17px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  /* Add styles to the form container */
.container {
  margin-top: 30px;
  /* position: absolute; */
  right: 67px;
  width: 500px;
  max-width: 100%;
  padding: 27px;
  border: 1px solid green;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  .radio-inline{
      margin-right: 4px;
  }

  .profileImage{
    width: 282px;
    height: 327px;
  }