<div class="row mainDiv">
    <div class="col-6">
           
                    <p style="text-align: center">
                  
            <figure class="figure" *ngFor="let img of images">
                    <img src="{{img.path}}" class="rounded-circle profileImage figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption">{{img.figCaption}}</figcaption>
                </figure>
                 
    </div>
    <div class="col-6">
            <form class="form-horizontal container" [formGroup]="empFormGroup" (ngSubmit)="onSubmit()">          
                    <h3 class="">Create User</h3> 
                  
                    <div class="form-group">
                        <label class="control-label" for="fullName">Full Name : </label>
                        <div >
                            <input type="text" formControlName="fullName" id="fullName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label" for="Email">Email Adress : </label>
                            <div >
                                <input type="email" formControlName="Email"  id="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class=" control-label" for="Phone">Phone Number : </label>
                                <div class="">
                                    <input type="number"  formControlName="Phone" id="Phone" class="form-control">
                                </div>
                            </div>
                        <div class="form-group">
                                <label class=" control-label" for="DateOfBirth">Date of Birth : </label>
                                <div class="">
                                    <input type="date" formControlName="DateOfBirth"  id="DateOfBirth" class="form-control">
                                </div>
                            </div>
                        <div class="form-group">
                                <label class="control-label" for="Password">Password : </label>
                                <div class="">
                                    <input type="password" formControlName="Password"  id="Password" class="form-control">
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label" for="Password">Gender : </label>
                                <div class="">
                                    <select class="form-control" formControlName="Gender"   id="Gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        
                                    </select>
                                </div>
                        </div>
                        <div formGroupName="skills">
                            <div class="form-group">
                                <label class=" control-label" for="Password">SkillName : </label>
                                <div class="">
                                    <input type="text" formControlName="skillName">
                                </div>
                                <div class="">
                                    <input type="number" placeholder="Expeireince in years" formControlName="expInYears">
                                </div>  
                            </div>
                            <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Proficiency</label>
                                    </div>
                                    <div class="">
                                        <label class="radio-inline">Beginner 
                                            <input type="radio" formControlName="proficiency" value="Beigineer">
                                        </label>
                                        <label class="radio-inline">Intermediate 
                                                <input type="radio" formControlName="proficiency" value="Intermediate">
                                        </label>
                                        <label class="radio-inline">Expert 
                                                <input type="radio" formControlName="proficiency" value="Expert">
                                        </label>
                                    </div>                                                   
                                 </div>          
                       <div class="btn-toolbar center">
                        <button class="btn buttonsave " type="submit">
                                Submit
                            </button>
                        <button class="btn btn-primary" (click)="loadData()" style=" width: 100%;" type="button">
                            Load Data
                        </button>
                    </div>            
            </div>
    
        </form>
    </div>
</div>
   
