
      




<div>
    <div class="col-12"data-target="#demo">
        <p style="text-align: center">
            <figure class="figure">
                <img src="../assets/images/cartoonGirl.jpg"  class="rounded-circle profileImage figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">Art is Not what you SEE</figcaption>
            </figure>
        </p> 
    </div>
    
    <div class="col-12">
        <div class="well" matTooltip="ASP.net and jquery I know the basics" style="text-align: center">
            <h3>Hello , I'm Harsha!</h3>
            <h6>FrontEnd Web Developer</h6>
            <p>Html/Css | Javascript | Angular 7 | Jquery | Sql | Asp Dot Net </p>            
        </div>
    </div>
</div>
  