
.artImage{
  width: 315px;
  margin: 17px 30px 20px 0px;
  /* height: 205px; */
  /* background-color: teal; */
  position: relative;
}


.mat-menu-panel{
    margin-top: 20px;
}

/*   
  /* Safari 4.0 - 8.0 */
  /* @-webkit-keyframes example {
    0%   {background-color:teal; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:black; left:0px; top:0px;}
  } */
  
.thumbnail{
  display: inline-block;
 

}
.containerone{
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}

.smallImages{
  width: 340PX;
  height: 311px;
  margin:29px 20px;
}
.imageWater{
  width: 500px;
  height: 600px;
}
img:hover{
  cursor: pointer;
}
