
 <div class="jumbotron">
            <span class="page-description text-center">
                    <h1 class=""><i class="fa fa-camera-retro " aria-hidden="true"></i> Lenses</h1>
                    <p>My collections and my art</p>
                  
            </span>
            <div class="containerone">
                <ul>
                    <li active class="btn btn-default section1">
                        <button type="button" (click)="emitType('water')" class="btn btn-primary">Water Paints</button>
                        </li>
                    <li  class="section2 btn btn-default">
                        <button type="button" (click)="emitType('sketches')" class="btn btn-secondary">Sketches</button>
                    </li>
                    <li  class="section3 btn btn-default">
                        <button type="button" (click)="emitType('nature')" class="btn btn-success">Nature</button>
                    </li>
                    <li  class="section3 btn btn-default">
                        <button type="button" (click)="emitType('abstract')" class="btn btn-info">Abstract</button>
                    </li>
                </ul>
            </div>
            <div class="col-12 row" *ngIf="paintType == 'nature' ? true : false">  
                        <div class="thumbnail col-3 col-lg-4 col-sm-6" *ngFor="let image of album; let i=index">                         
                            <img class="smallImages" [src]="image.thumb" (click)="open(i)" />
                        </div>                
            </div>
            <div class="col-12 row" *ngIf="paintType == 'water' ? true : false"> 
                <div class="containerone">
                    <div class="thumbnail col-5 col-lg-6" *ngFor="let image of albumWater; let i=index">                         
                        <img class="imageWater" src="{{image.src}}"/>
                    </div>   
                </div>  
            </div>
            <div class="col-12 row" *ngIf="paintType == 'abstract' ? true : false"> 
                    <div class="thumbnail col-3 col-lg-3" style="margin: 35px;" *ngFor="let image of albumAbstract; let i=index">                         
                        <img class="smallImages" [src]="image.src"/>
                </div>  
            </div>
            <div class="col-12 row" *ngIf="paintType == 'sketches' ? true : false"> 
                <div class="thumbnail col-4 col-lg-3" style="margin: 35px;" *ngFor="let image of sketeches; let i=index">                         
                    <img class="smallImages" [src]="image.src"/>
            </div>  
        </div>
     </div>
