
 <div class="container">
            <span class="page-description text-center">
                    <h1 class=""><i class="fa fa-camera-retro " aria-hidden="true"></i> Lenses</h1>
                    <p>My collections and my art</p>
            </span>
            <div class="container2 row">
                <ul>
                    <li active class="btn btn-default section1">
                        <button type="button" (click)="emitType('water')" class="btn btn-primary">Water Paints</button>
                        </li>
                    <li  class="section2 btn btn-default">
                        <button type="button" (click)="emitType('sketches')" class="btn btn-secondary">Sketches</button>
                    </li>
                    <li  class="section3 btn btn-default">
                        <button type="button" (click)="emitType('nature')" class="btn btn-success">Nature</button>
                    </li>
                    <li  class="section3 btn btn-default">
                        <button type="button" (click)="emitType('abstract')" class="btn btn-info">Abstract</button>
                    </li>
                </ul>
            </div>
    
            <div class="containerone row "  *ngIf="paintType == 'nature' ? true : false" >
                <ng-container *ngFor="let image of album;">
                    <img class="smallImages img-responsive" src="{{image.src}}"/>
                </ng-container>
               
            </div>
            <div class="containerone row" *ngIf="paintType == 'water' ? true : false" >
                <ng-container *ngFor="let image of albumWater;">
                    <img class="smallImages img-responsive" src="{{image.src}}"/>
                </ng-container>
               
            </div>
            <div class="containerone row" *ngIf="paintType == 'sketches' ? true : false" >
                <ng-container *ngFor="let image of sketeches;">
                    <img class="smallImages img-responsive" src="{{image.src}}"/>
                </ng-container>
               
            </div>
            <div class="containerone row" *ngIf="paintType == 'abstract' ? true : false" >
                <ng-container *ngFor="let image of albumAbstract;">
                    <img class="smallImages img-responsive" src="{{image.src}}"/>
                </ng-container>
               
            </div>
        
            </div>
   
