


<div style="height: 93vh;" >
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
          <span class="designlogo">DesignR</span>
        </button>
        <span fxHide="true" fxShow.gt-sm>DesignR</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
     <ul role="navigation" class="headerlist">
    <li class="ng-star-inserted">
        <a class="nav-link" routerLink="/home"  title="home">
          Home
        </a></li>
      <li class="ng-star-inserted">
          <a class="nav-link" routerLink="/resume"  title="resume">
            Resume
          </a>
      </li>
      <li class="ng-star-inserted">       
        <a [matMenuTriggerFor]="menu">   
              Gallery          
        </a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
              <a class="nav-link" routerLink="/gallery"  title="gallery">
              My Arts
              </a>
          </button>
          <button mat-menu-item>
              <a class="nav-link" routerLink="/carousel"  title="carousel">
                Caraousel
              </a>
          </button>
        </mat-menu>
      </li>
      <i class="fa fa-refresh" ></i> 
      <li class="ng-star-inserted">
          <a class="nav-link" routerLink="/login"  title="login">
            Login
          </a>
            <!-- <span class="nav-link-inner">Contact</span> -->
          
        </li>     
      </ul>    
        </div>
      </mat-toolbar-row>
    </mat-toolbar> 
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>  
          <ul class="usersidenav">
              <li><div class="user-view">
                  <div class="background">
                    <img src="../assets/images/profilesimg/BIANCANEVE.jpeg" class="imgsidenav">
                  </div>
                  <a href="https://www.linkedin.com/in/harsha-prajapati-b9a36198/"><img class="circle" src="../assets/images/headerImages/linkedin (1).svg"
                    style="    height: 25px;
                    width: 46px;"></a>
                 
                  <a  style="font-size: 17px;" href="harshap744@gmail.com" >harshap744@gmail.com</a>
                </div>
              </li>
          </ul>   
          <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        
          <a class="nav-link" routerLink="/home"  title="home">
            Home
          </a>
         
          <a class="nav-link" routerLink="/gallery" title="gallery">
            Gallery
          </a>
         
     

          <a class="nav-link" routerLink="/resume" title="resume">
              Resume
            </a>
           
            <a class="nav-link" routerLink="/login"  title="login">
                Login
              </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <!-- <svg class="arrows">
							<path class="a1" d="M0 0 L30 32 L60 0"></path>
							<path class="a2" d="M0 20 L30 52 L60 20"></path>
							<path class="a3" d="M0 40 L30 72 L60 40"></path>
            </svg> -->
            <!-- <button (click)="scrollWin(0, 50)" style="position: fixed">Scroll down</button><br><br> -->
            <div [@routeAnimations]="prepareRoute(outlet)" >
         
                <router-outlet #outlet="outlet"></router-outlet>
              </div>
         
          <!-- <div class="hero-scroll-down">
              <svg class="arrows" width="22px" height="16px" viewBox="0 0 22 16">
                    <g id="arrow-down" transform="translate(1.000000, 1.000000)" stroke="currentColor" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M20.1428571,0.0563380282 L10,7.94366197 L-0.142857143,0.0563380282" id="arrow-1"></path>
                        <path d="M20.1428571,6.05633803 L10,13.943662 L-0.142857143,6.05633803" id="arrow-2"></path>
                    </g>
              </svg>
            </div> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
 

 
