mat-toolbar.mat-toolbar mat-toolbar-row{
    padding: 19px 0px 22px 18px;

}
.main1{
    margin-top: 55px;
}
body {
    height: 7500px;
    width: 5000px;
  }
/* .mat-toolbar-multiple-rows {
    min-height: 64px;
} */
.maindiv{
    height: 93vh
}
.designlogo{
    font-size: 19px;
    padding-left: 23px;
}
.mat-list-base{
    width: 221px;
}
.jumbotron1{
    position: relative;
    top: 70px;
    left: 47px;
    display: flex;
    width: 50%;
}
.mat-icon-button{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.mat-toolbar-multiple-rows {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}
.nav-link.home {
    cursor: pointer;
    color:orange;
    margin: 28px 16px 0 0;
    padding: 21px 0;
}
.imglogo{
    position: relative;
    top: -3px;
    left: -4px;
}
.headerlist{
    list-style-type: none;

    margin-top: 19px;

    align-items:flex-start;
}
.headerlist a{
 color:#c39960 !important;
}
.navbar-brand{
    color :#dec69e !important;
}

.headerlist a:hover{
    color:grey !important;
}
.toolbar-external-icons-container{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    
}

    .mat-toolbar-row, .mat-toolbar-single-row,.toolnav{
        justify-content: space-between;
        background-color: #3a2b17 !important;
        color: #c39960;
    }
.mat-drawer-container{
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
.profileImage{
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

/* body {
    background:#0b1d2a;
  } */
  
  .arrows {
      width: 70px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
  }
  
  .arrows path {
      stroke: blueviolet;
      fill: transparent;
      stroke-width: 1px;	
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
      animation-delay:-1s;
      -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
      animation-delay:-0.5s;
      -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }
.usersidenav,.usersidenav li{
    list-style-type: none;
    padding-left: 2px !important;
}
.imgsidenav{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}