<div class="container-fluid">
    <div class="row mainrow">        
        <div class="col-6  firstcol firstcol1
        ">
            <img matTooltip="Hello ! Greetings to you. I'am Harsha" src="../../assets/images//profilesimg/cartoonGirl.jpg" class="imageDp">
        </div>
        <div class="col-6 secCol flexClass">
                <h2 title="Harsha Prajapati">Harsha Prajapati</h2>
            <div class="headDiv">              
                <h4 style="color: #9D0E0E;"> FrontEnd Web Developer</h4>
                <p><img src="../../assets//images/headerImages/maps-and-flags.svg" class="imagesred">Banglore, India</p>
                <p><img src="../../assets//images/headerImages/envelope.svg" class="imagesred">harshap744@gmail.com </p>
                <p><img src="../../assets//images/headerImages/telephone (2).svg" class="imagesred"> 886-174-1035 </p>
                <ul class="ulList">
                    <li><a  [href]="URL" download="Harsha_Resume.pdf">  <img  matTooltip="Download Resume" class="linkidin" src="../../assets/images/headerImages/download.svg"></a></li>
                    <li><a href="https://www.linkedin.com/in/harsha-prajapati-b9a36198/">
                        <img class="linkidin" matTooltip="Linkedin" src="../../assets/images/headerImages/linkedin (1).svg"></a></li>
                </ul>
            </div>
            
        </div>
            <!-- <div class="inline">
                <ul class="ulList">
                    <li><a  [href]="URL" download="Harsha_Resume.pdf">  <img  matTooltip="Download Resume" class="linkidin" src="../../assets/images/headerImages/download.svg"></a></li>
                    <li><a href="https://www.linkedin.com/in/harsha-prajapati-b9a36198/">
                        <img class="linkidin" matTooltip="Linkedin" src="../../assets/images/headerImages/linkedin (1).svg"></a></li>
                </ul>
            </div> -->
    </div>
    <hr class="norml">
    <div class="row mainrow">
            <div class="col-3 firstcol">
                <h6 class="subheading" matTooltip="To design and Create">
                        <img src="../../assets//images/headerImages/portfolio.svg" class="imagesred bigImg">Objective</h6>
            </div>
            <div class="col-6 secCol">
                    <p>
                        Passionate Front End Web Developer with 6 years of experience of working in the information technology sector and services industry. I love brainstorming through difficult problems and coming up with effective solutions.
                     </p>              
            </div>      
        </div>
        <hr class="norml">
        <div class="row mainrow">
                <div class="col-6 secCol">
                    <div class="col-6">
                            <h6 class="subheading" matTooltip="I'am a Btech Graduate,
                             studied Biotechnolgy and now I follow my passion.">
                             <img src="../../assets//images/headerImages/resume.svg" class="imagesred bigImg">Education</h6>
                            <span class="subheading">GITAM University</span>  
                              
                            Visakhapatnam, AP , 2016 
                            Btech focused in Biotechnology
                               
                    </div>
                    <hr class="norml">
                    <div class="col-6">
                            <span class="subheading">
                                    <img src="../../assets//images/headerImages/graph.svg" class="imagesred bigImg">Skills</span>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>React</li>
                                <li>React Native</li>
                                <li>Bootstrap 4</li>
                                <li>Angular 7</li>
                                <li>Node.js</li>
                                <li>Javascript</li>
                                <li>Ajax</li>
                                <li>Git</li>
                                <li>Jest and Enzyme</li>
                            </ul>
                        </div>
                       
                
                    </div>
                  
            <div class="col-6 firstcol borderleft">
                <h6 class="subheading" matTooltip="I love learning new programming languages, designing webpages(UI),
                 sharing my knowledge. Always had craze about designing websites and that's what I do now.">
                 <img src="../../assets//images/headerImages/graph.svg" class="imagesred bigImg">Experience</h6>
                 <span class="subheading" matTooltip="I have done Development FrontEnd, Backened , Support except testing , which Iam learning now using Karma!">Front End Developer</span>  
                <p>
                    I am a Frontend Web Developer. I love exploring and learning new programming languages, keeping up with the latest technology, and increasing my productivity and creativity to add more value to my work. Always had a craze for designing websites, and understanding the requirements and that's what I do now. I have created a basic Portfolio website using the Angular framework.
                    Also, I m an artist and I enjoy reading books mostly spiritual and positive ones to know about self and the hidden power inside us. My main strength is to never give up and to take ownership of my work and I learned through my experience that consistency is the key to everything.
                    I believe in the saying " It doesn’t matter how smart you are If they can’t TRUST you."
                    I love brainstorming through difficult problems, and new challenges and coming up with effective and optimized solutions.
                    I started my career with C#(ASP.Net), SQL, and then Javascript specifically the Angular framework and now working on React and React native.
                     So I spend my time learning through online courses and then using them in my projects and making a few small web applications for better understanding. I am interested in learning anything to everything related to web applications, domain knowledge, or my hobbies. So all of this helps me to be a better version of myself every day and I enjoy learning.
                 </p>      
            </div>      
        </div>
        <hr class="norml">
        <div class="row mainrow">
                <div class="col-5 firstcol">
                        <h6 class="subheading" matTooltip="Love challenges">
                                <img src="../../assets//images/headerImages/clipboard-with-pencil-.svg" class="imagesred bigImg"> Awards and Achievements</h6>
                    </div>
                    <div class="col-6 secCol">
                        <ul>
                            <li>Got the best team Award- Award for excellence in Lafarge Holcim</li>
                            <li>On Hacker Earth participated in challenges using skills in
                                    Javascript, Json, Ajax calls , html and css to complete the problem
                                    statement and have cleared it</li>
                            <li>In college fest have won 1st position for Green Innovation event </li>
                            <li>Got appreciation from client for Ui development.</li>
                        </ul>

                    </div>
        </div>
        <div class="row mainrow">
                <div class="col-5 firstcol">
                        <h6 class="subheading" matTooltip="Love challenges"> 
                                <img src="../../assets//images/headerImages/idea.svg" class="imagesred bigImg">Traning and Certifications  </h6>
                    </div>
                    <div class="col-6 secCol">
                        <ul>
                            <li>External Certification done in Front End Web Developer I Nanodegree in Udacity</li>
                            <li>Learner on Hacker earth, have solved problem statements on it</li>
                            <li>Active learner on TreeHouse for learning different tracks on Front
                                    End Web Development , Intermediate C#, Full stack Javascript,
                                    APIs ,responsive layouts </li>
                            <li>Completed trainings in C# asp.Net and sql</li>
                        </ul>

                    </div>
        </div>


</div>
