<div class="container">
    <div class="row mainrow">        
        <div class="col-6  firstcol">
            <img matTooltip="Hello ! Greetings to you. I'am Harsha" src="../../assets/images//profilesimg/cartoonGirl.jpg" class="imageDp">
        </div>
        <div class="col-5 secCol">
                <h2 title="Harsha Prajapati">Harsha Prajapati</h2>
            <div class="headDiv">              
                <h4 style="color: #9D0E0E;"> FrontEnd Web Developer</h4>
                <p><img src="../../assets//images/headerImages/maps-and-flags.svg" class="imagesred">Banglore, India</p>
                <p><img src="../../assets//images/headerImages/envelope.svg" class="imagesred">harshap744@gmail.com </p>
                <p><img src="../../assets//images/headerImages/telephone (2).svg" class="imagesred"> 886-174-1035 </p>
            </div>
            
        </div>
        <div class="col-1">
            <div class="inline">
                <ul class="ulList">
                    <li><a  [href]="URL" download="Harsha_Resume.pdf">  <img  matTooltip="Download Resume" class="linkidin" src="../../assets/images/headerImages/download.svg"></a></li>
                    <li><a href="https://www.linkedin.com/in/harsha-prajapati-b9a36198/">
                        <img class="linkidin" matTooltip="Linkedin" src="../../assets/images/headerImages/linkedin (1).svg"></a></li>
                </ul>
            </div>
                
                <!-- <button class="btn-style" routerLink="/
                assets/file/Harsha_Prajapati_Resume_1.PDF" routerLinkActive="active">Get File</button> -->
        </div>
    
    </div>
    <hr class="norml">
    <div class="row mainrow">
            <div class="col-3 firstcol">
                <h6 class="subheading" matTooltip="To design and Create">
                        <img src="../../assets//images/headerImages/portfolio.svg" class="imagesred bigImg">Objective</h6>
            </div>
            <div class="col-6 secCol">
                    <p>
                            Experienced System Engineer with a demonstrated history of working in the information technology 
                            and service industry and Passionate Front End Web Developer with 4.2 years of experience
                     </p>              
            </div>      
        </div>
        <hr class="norml">
        <div class="row mainrow">
                <div class="col-6 secCol">
                    <div class="col-6">
                            <h6 class="subheading" matTooltip="I'am a Btech Graduate,
                             studied Biotechnolgy and now I follow my passion.">
                             <img src="../../assets//images/headerImages/resume.svg" class="imagesred bigImg">Education</h6>
                            <span class="subheading">GITAM University</span>  
                              
                            Visakhapatnam, AP , 2016 
                            Btech focused in Biotechnology
                               
                    </div>
                    <hr class="norml">
                    <div class="col-6">
                            <span class="subheading">
                                    <img src="../../assets//images/headerImages/graph.svg" class="imagesred bigImg">Skills</span>
                            <ul>
                                <li>Html5</li>
                                <li>Css3</li>
                                <li>Bootstrap 4</li>
                                <li>Angular 7</li>
                                <li>Node.js</li>
                                <li>Javascript</li>
                                <li>Ajax</li>
                            </ul>
                        </div>
                       
                
                    </div>
                  
            <div class="col-6 firstcol borderleft">
                <h6 class="subheading" matTooltip="I love learning new programming languages, designing webpages(UI),
                 sharing my knowledge. Always had craze about designing websites and that's what I do now.">
                 <img src="../../assets//images/headerImages/graph.svg" class="imagesred bigImg">Experience</h6>
                 <span class="subheading" matTooltip="I have done Development FrontEnd, Backened , Support except testing , which Iam learning now using Karma!">TCS - System Engineer</span>  
                <p>I started my career with C#(ASP.Net), SQL and then moved on to Javascript specifically Angular framework. </p>  
                In my last project I use to design the Front End for the application , by using Javascript and other Ui technologies(kendo,Bootstrap 4).
                <p>Then I leart Angular 7 as it was required for the project , and implemented many features like data binding using angular mat tables,
                    services for Api's, Dependency Injection to inject services, sharing data between components using Input output properties , Observables and Promises.</p>    
                 <p>I love brainstorming through difficult problems and coming up with effective solutions. 
                    Since then I have been trying out new languages, spending time in making few small web applications. 
                 </p>      
            </div>      
        </div>
        <hr class="norml">
        <div class="row mainrow">
                <div class="col-5 firstcol">
                        <h6 class="subheading" matTooltip="Love challenges">
                                <img src="../../assets//images/headerImages/clipboard-with-pencil-.svg" class="imagesred bigImg"> Awards and Achievements</h6>
                    </div>
                    <div class="col-6 secCol">
                        <ul>
                            <li>Got the best team Award- Award for excellence in Lafarge Holcim</li>
                            <li>On Hacker Earth participated in challenges using skills in
                                    Javascript, Json, Ajax calls , html and css to complete the problem
                                    statement and have cleared it</li>
                            <li>In college fest have won 1st position for Green Innovation event </li>
                            <li>Got appreciation from client for Ui development.</li>
                        </ul>

                    </div>
        </div>
        <div class="row mainrow">
                <div class="col-5 firstcol">
                        <h6 class="subheading" matTooltip="Love challenges"> 
                                <img src="../../assets//images/headerImages/idea.svg" class="imagesred bigImg">Traning and Certifications  </h6>
                    </div>
                    <div class="col-6 secCol">
                        <ul>
                            <li>External Certification done in Front End Web Developer I Nanodegree in Udacity</li>
                            <li>Learner on Hacker earth, have solved problem statements on it</li>
                            <li>Active learner on TreeHouse for learning different tracks on Front
                                    End Web Development , Intermediate C#, Full stack Javascript,
                                    APIs ,responsive layouts </li>
                            <li>Completed trainings in C# asp.Net and sql</li>
                        </ul>

                    </div>
        </div>


</div>
