.container{
    border-left: solid 27px #F8B423;
    border-right: solid 27px #f8b423;
    font-family: sans-serif;
    background-color: 	 #f9ebd2;

}
@media(max-width:735px){
    .imageDp{
        border-radius: 50%;
        filter: drop-shadow(8px 8px 10px wheat);
        width: 216px;
        height: 232px;
        padding: 30px;
    }
    .flexClass{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(min-width:736px){
    .imageDp{
        border-radius: 50%;
        filter: drop-shadow(8px 8px 10px wheat);
        width: 216px;
        height: 232px;
        padding: 5px;
    }
}

.headDiv{
    color: #8c8c8c;
}
.borderleft{
    border-left: 5px solid #f8b423;
}
.firstcol{
 
}
.firstcol1{
    display: flex;
    justify-content: center;
}
.imagesred{
    height: 23px;
    width: 24px;
    margin-right: 8px;
}
.secCol{

}
.norml{
    border-bottom: 5px solid #f8b423;
}
.mainrow{
    padding: 23px 0px 0px 10px;
    
   
}


.subheading{
    font-weight: bold;
    color: #9D0E0E;
}
.linkidin{
    height: 26px;
    width: 24px;
}
.ulList{
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-direction: row;
}
.ulList li{
    margin-right: 20px;
    list-style: none;
    
}
.bigImg{
    width: 17%;
    height: auto;
}
.boxx{
    position: absolute;
}