<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
                <div class="carousel-caption">
                        <div class="col-12">
                                <p style="text-align: center">
                                    <figure class="figure">
                                        <img src="../assets/images/cartoonGirl.jpg" ngbTooltip="Welcome to My Portfolio !"
                                        tooltipClass="my-custom-class"  class="rounded-circle profileImage figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">Art is Not what you SEE</figcaption>
                                    </figure>
                                </p> 
                            </div>
                        <div class="col-12">
                                <div class="well" ngbTooltip="ASP.net and jquery I know the basics" style="text-align: center">
                                    <h1>Hello , I'm Harsha!</h1>
                                    <h4>FrontEnd Web Developer</h4>
                                    <h3>Html/Css | Javascript | Angular 7 | Jquery | Sql | Asp Dot Net </h3>            
                                </div>
                            </div>
                          </div>
          <div class="picsum-img-wrapper">
                <video class="video-fluid" autoplay loop muted>
                        <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
              </video>
          </div>
      
        </ng-template>
      </ngb-carousel>
      
      <hr>
      

      <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Simple">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                
              </ng-template>
            </ngb-panel>
            
          
          </ngb-accordion> -->
