
               <div class="bgimage">
                        <div class="col-12">
                                <p style="text-align: center">
                                    <figure class="figure" Tooltip="Welcome to My Portfolio !">
                                        <img src="../assets/images/cartoonGirl.jpg" 
                                        tooltipClass="my-custom-class"  class="rounded-circle profileImage figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                                        <figcaption class="figure-caption">Art is Not what you SEE</figcaption>
                                    </figure>
                                </p> 
                          </div>
                          
                             
                            
                            <div style="height: 300px;"  [@slideInOut]> 
                                <div class="col-12">
                           
                                    <div class="content" ngbTooltip="Node.js (basics)" style="text-align: center">
                                        <h1>Hello , I'm Harsha!</h1>
                                        <h4>FrontEnd Developer</h4>
                                        <h3> React | React native | Node.js </h3>            
                                    </div>
                            </div>
                            </div>
          
      
