mat-toolbar.mat-toolbar mat-toolbar-row{
    padding: 19px 0px 22px 18px;

}
.arrowdown{
    height: 40px;
}
.bgimage{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 96vh;
    background-image: url("../../assets/images/computerpen.jpg");
}
.mat-toolbar-multiple-rows {
    min-height: 64px;
}
.designlogo{
    font-size: 19px;
    padding-left: 23px;
}
.mat-list-base{
    width: 200px;
}
.mat-icon-button{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.mat-toolbar-multiple-rows {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.imglogo{
    position: relative;
    top: -3px;
    left: -4px;
}


.toolbar-external-icons-container{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    
}

    .mat-toolbar-row, .mat-toolbar-single-row{
        justify-content: space-between;
    }
.mat-drawer-container{
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}
.profileImage{
    margin: 0 auto;
    height: 290px;
    width: 277px;
}
.carousalImage{
    height: 300px;
    width: 100%;
}
.carousel-caption{
    position: absolute;
    top: 7%;
}
ngb-carousel{
    min-height: 747px;
    height: 100%;
    display: block;
    width: 100%;
}
.figure-caption{
    color: white !important;
    font-size: 19px !important;
}
.my-custom-class .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: darkgreen;
  }

  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
   img {vertical-align: middle;}
  
  .content {
   
    position: relative;
    bottom: 18px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 50%;
    margin:0 auto;
    padding: 20px;
  }
  /* .imagebook{
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  .buttondown{
    /* position: absolute; */
    left: 50%;
    bottom: 41px;
  }
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  .navbar {
    margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
   position: relative;
   top: 50px;
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5; height: 700px;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;height: 700px;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;height: 700px;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;height: 700px;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;height: 700px;}

  .current-section {
    
    color:#c39960 !important;
  }

  .rotatearrow{
    transform: rotate(180deg);
  }